*.o
*.d
bin/
main/bin/
output/
main/tools/bin/
main/defines_dasm.h
.DS_Store
ROMs/
screenshots/
icc/
main/board_temp.c
main/processTypes.c
main/processTypes.h
tools/.idea/misc.xml
.gitignore
tools/.idea/modules.xml
tools/.idea/tools.iml
tools/.idea/vcs.xml
tools/.idea/inspectionProfiles/profiles_settings.xml
main/characterset.c.bak
